.dark-medium-contrast {
  --md-sys-color-primary: rgb(229 188 250);
  --md-sys-color-surface-tint: rgb(224 184 246);
  --md-sys-color-on-primary: rgb(37 5 58);
  --md-sys-color-primary-container: rgb(168 131 189);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(215 197 221);
  --md-sys-color-on-secondary: rgb(29 18 35);
  --md-sys-color-secondary-container: rgb(155 139 161);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(249 187 189);
  --md-sys-color-on-tertiary: rgb(44 11 14);
  --md-sys-color-tertiary-container: rgb(185 131 132);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(22 18 23);
  --md-sys-color-on-background: rgb(233 224 231);
  --md-sys-color-surface: rgb(22 18 23);
  --md-sys-color-on-surface: rgb(255 249 251);
  --md-sys-color-surface-variant: rgb(75 69 77);
  --md-sys-color-on-surface-variant: rgb(210 200 210);
  --md-sys-color-outline: rgb(169 160 170);
  --md-sys-color-outline-variant: rgb(137 128 138);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(233 224 231);
  --md-sys-color-inverse-on-surface: rgb(45 41 46);
  --md-sys-color-inverse-primary: rgb(91 59 111);
  --md-sys-color-primary-fixed: rgb(244 217 255);
  --md-sys-color-on-primary-fixed: rgb(32 0 52);
  --md-sys-color-primary-fixed-dim: rgb(224 184 246);
  --md-sys-color-on-primary-fixed-variant: rgb(72 40 92);
  --md-sys-color-secondary-fixed: rgb(239 220 245);
  --md-sys-color-on-secondary-fixed: rgb(23 13 30);
  --md-sys-color-secondary-fixed-dim: rgb(211 193 216);
  --md-sys-color-on-secondary-fixed-variant: rgb(62 50 68);
  --md-sys-color-tertiary-fixed: rgb(255 218 218);
  --md-sys-color-on-tertiary-fixed: rgb(37 7 9);
  --md-sys-color-tertiary-fixed-dim: rgb(244 183 185);
  --md-sys-color-on-tertiary-fixed-variant: rgb(83 42 45);
  --md-sys-color-surface-dim: rgb(22 18 23);
  --md-sys-color-surface-bright: rgb(60 56 61);
  --md-sys-color-surface-container-lowest: rgb(16 13 18);
  --md-sys-color-surface-container-low: rgb(30 26 32);
  --md-sys-color-surface-container: rgb(34 30 36);
  --md-sys-color-surface-container-high: rgb(45 40 46);
  --md-sys-color-surface-container-highest: rgb(56 51 57);
}
