.timer-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .timer-line {
    position: relative;
    height: .5rem;
    margin-bottom: 1rem;
    @apply rounded-full bg-primary;
  }
  
  .checkpoint {
    position: absolute;
    width: .5rem;
    height: 1rem;
    top: -2rem;
    @apply bg-primary rounded-full
  }
  
  .cursor {
    position: absolute;
    width: .5rem;
    height: 1.5rem;
    top: -2rem;
    transition: left 1s linear;
    @apply bg-on-primary rounded-full
  }
  
  .controls button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .controls button:hover {
    background-color: #0056b3;
  }
  