.slick-current img {
  height: 32rem;
}

.slick-item {
  object-fit: contain;
  height: 8rem;
  width: 8rem;
}
.slider-dots {
  margin-top: 8rem;
  display: flex !important;
  justify-content: center;
  flex-direction: row;
  gap: 4rem;
}
.slider-dots .slick-active {
  outline: solid 0.25rem var(--color-primary);
  border-radius: 4px;
  padding: 4px;
}
.slick-track {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slick-slide {
  margin-top: auto;
  margin-bottom: auto;
}
