.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: inherit;
  }
  
  .dot {
    animation: bounce 1.2s infinite;
    margin: 0 .75em;
  }
  
  @keyframes bounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
  