@import "./styles/light.css";
@import "./styles/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {
  --shadow-inset: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
:root {
  --corner-small: 8px;
  --corner-medium: 12px;
  --corner-large: 16px;
  --corner-extra-large: 28px;
  --corner-full: 1000px;

  --elevate-1: 1px 1px var(--color-shadow);
  --elevate-2: 2px 2px var(--color-shadow);
  --elevate-3: 2px 4px var(--color-shadow);
  --elevate-4: 2px 4px 2px var(--color-shadow);
}

body {
  background-color: var(--color-surface-container);
  @apply font-sans;
}
